<h1> Whats up with recipes?</h1>
<br>
<br>

<a href='/recipies'>Look at these recipes</a>
<br>
<br>
<a href='/categories'>Look at these Categories</a>
<br>
<br>
<a href='/ingredients'>Look at these Ingredients</a>
